{
  "parser": "vue-eslint-parser",
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "space-before-function-paren": ["error"],
    "no-console": ["off"],
    "vue/component-definition-name-casing": ["error", "kebab-case"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/ban-ts-comment": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": ["off"]
  }
}

